{% extends 'base.html' %}

{% block title %}
  About Us
{% endblock %}

{% block content %}
<div class="about-container">
    <div class="about-content">
        <h1 class="text-4xl font-bold text-center mb-8">Biz haqimizda</h1>
        <h3><p class="text-lg mb-6">
            Ushbu sayt <strong>"Mirzo Ulug'bek vorislari"</strong> ko'rik-tanlovi ishtirokchisi <strong>Tursunov Ahliddin Davlatjon o'g'li</strong> tomonidan mediasavodxonlikni oshirish maqsadida yaratildi.
        </p></h3>
    </div>

    <div class="social-media-icons">
        <a href="https://www.instagram.com/a_d_tursunov/" class="text-black hover:text-gray-700 mr-4"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://t.me/a_d_tursunov" class="text-black hover:text-gray-700 mr-4"><i class="fab fa-telegram fa-2x"></i></a>
        <a href="" class="text-black hover:text-gray-700 mr-4"><i class="fas fa-envelope fa-2x"></i></a>
        <a href="tel:+998908419871" class="text-black hover:text-gray-700"><i class="fas fa-phone fa-2x"></i></a>
    </div>
</div>
{% endblock %}

{% block extra_head %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, rgba(173, 216, 230, 0.6), rgba(135, 206, 235, 0.6));
    }

    .about-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: space-between;
        padding: 2rem;
        font-family: "Times New Roman", Times, serif;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: auto;
        padding-bottom: 13px;
    }

    .social-media-icons a {
        text-decoration: none;
        color: black;
    }

    .social-media-icons a:hover {
        color: gray;
    }
</style>
{% endblock %}
